<html ng-app="amazon">
<head>
<title>Customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/table.css" type="text/css"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
        /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: #f2f2f2;
      padding: 25px;
    }
    .panel-heading1 {
    	background-color: #31b404;
    	border-color: #31b404;
    	color: #fff;
    	padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px
	}
	
	.panel-heading1:hover{
		background-color: #01DF01
	}
    table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.button {
    background-color: #31b404; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {background-color: #01DF01}

.button:active {
  background-color: #0000FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<script	src="https://code.angularjs.org/1.3.15/angular.js"></script>
<script src="/scripts/ng-map.min.js"></script>
<script src="/angularjs/amazonStart.js"></script>
<script src="/angularjs/checkOutController.js"></script>
</head>
<body ng-controller="checkOutController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    <img src=".\images\logo.png" alt="Image">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/customerProfile">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">History</a></li>
        <li><a href="/logout">Logout<span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="deleteCustomer">Deactivate My Account</a></li>
      </ul>
    </div>
  </div>
  </nav>
  <div class="container">   
  <div ng-hide="checkout">
  <center> INVOICE </center>
<% for(var i=0; i < addToCart.length; i++) { %>
<hr>
<table >
<tr>
<h4>Farmer Id :<%= addToCart[i].farmerId %></h4>
<th>Name</th><th>Rate</th><th>Quantity(Lb)</th><th>Cost</th>
</tr>
<% for(var j=0; j < addToCart[i].productList.length; j++) { %>
<tr>
<td><%= addToCart[i].productList[j].productName %></td>
<td><%= (addToCart[i].productList[j].productPrice*constant).toFixed(2) %></td>
<td><%= addToCart[i].productList[j].productQuantity %></td>
<td><%= ((addToCart[i].productList[j].productPrice)*(addToCart[i].productList[j].productQuantity)*constant).toFixed(2) %></td>
</tr>
<% } %> 
<tr>Total: <%= (totalBillAmt[i]*constant).toFixed(2) %></tr>
<tr>
</table><br><br><br>
<% } %> 

<input type="radio" ng-model="date" value="2"> 2 Days Prime Shipping<br>
  <input type="radio" ng-model="date" value="4" checked="checked" > 4 Days Shipping &nbsp; &nbsp;
<br/>
<button class="button"  ng-click="confirm('<%=JSON.stringify(addToCart) %>');">confirm</button>
              </div>
              
              
              <div ng-hide="AfterChkOut">
              <P> Thank you for your order, your item will be delivered to you on your chosen date and time</P>
              <div> 
              <p> Check your order histroy</p> 
              <input type="button" ng-click="orderhistroy()" value="Check Order Histroy">
             
              </div>
              </div>
              <div ng-hide="cancelorderflag">
              <h1>Your order histroy is:</h1>
              <table id="t01">
  <tr>
    <th>BILL ID</th>
    <th>BILL DATE</th>		
    <th>EXPECTED DELIVERY DATE</th>
     <th>PRODUCT ID</th>
    <th>BILL AMOUNT</th>
     <th colspan="3">DESTINATION ADDRESS</th>
  </tr>
  
  <tr ng-repeat="search  in searchResult">
    <td>{{search.BILLING_ID}}</td>
    <td>{{search.BILL_DATE}}</td>
      <td>{{ search.EXPCTD_DELIVERY_DATE }}</td>	
     <td>{{ search.PRODUCT_ID}}</td>
     <td>{{ search.TOTAL_AMOUNT}}</td>
     <td>{{ search.DESTINATION_ADDRESS}}</td>
     <td>{{ search.DESTINATION_CITY}}</td>
     <td>{{ search.DESTINATION_ZIP}}</td>
  </tr>

</table>
     <P>To cancel any order, enter bill id</p>
     <label>Bill ID</label><input type="text" ng-model="billid" >
     <input type="button" ng-click="cancelorder()" value="cancel order">
              </div>	

	</div>
</body>
</html>